<div ng-controller='PageTwoCtrl' class="container">
    <h2>List Two</h2>

     <form>
        <div class="inputnbutton">
            <input type="text" ng-model="enteredTask" placeholder="Enter Task">
            <!--<br>-->
            <button ng-click="addTask()" class="myButton">Add</button>
        </div>

    </form>
    <ul class="ullist">
        <li class="lilist" ng-repeat="task in tasks track by $index">
            <span class="task">{{task}}</span>
            <i href="" ng-click="removeTask(task)" class="fa fa-trash-o"></i>

        </li>
    </ul>
</div>